@page
@using Proiect_ip.Models
@model Proiect_ip.Areas.Identity.Pages.Account.Manage.MyOrdersModel
@{
    ViewData["Title"] = "Comenzile mele";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Comenzile mele</h2>

@if (Model.Orders.Count == 0)
{
    <div class="alert alert-secondary" role="alert">
        Nu există comenzi.
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Dată</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.IdComanda</td>
                        <td>@order.DataComanda.ToShortDateString()</td>
                        <td>@order.CStatus</td>
                        <td>@order.PretTotal.ToString() Lei</td>
                        <td>
                            <div class="btn-group" role="group">
                                @if (order.CStatus != Proiect_ip.Models.Comanda.ComandaStatus.Anulat){
                                    <button type="button" class="btn btn-outline-primary btn-sm border-0" data-bs-toggle="modal" data-bs-target="#orderDetailsModal-@order.IdComanda">Vizualizare</button>
                                    @if (order.CStatus == Proiect_ip.Models.Comanda.ComandaStatus.InProcesare)
                                    {
                                        <form method="post" asp-page-handler="CancelOrder">
                                            <input type="hidden" name="orderId" value="@order.IdComanda" />
                                            <button type="submit" class="btn btn-outline-danger btn-sm border-0">Anulare</button>
                                        </form>
                                    }
                                } 
                                else 
                                {
                                    <p>Comandă anulată.</p>
                                }
                                
                            </div>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @foreach(var order in Model.Orders){
        if(order.CStatus != Comanda.ComandaStatus.Anulat){
            <div class="modal fade" id="orderDetailsModal-@order.IdComanda" tabindex="-1" aria-labelledby="orderDetailsModalLabel-@order.IdComanda" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="orderDetailsModalLabel-@order.IdComanda">Detalii comanda</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Nume</th>
                                            <th>Preț/buc</th>
                                            <th>Cantitate</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var produsDinComanda in order.ComandaProduse)
                                        {
                                            <tr>
                                                <td>@produsDinComanda.Produs.Nume</td>
                                                <td>@produsDinComanda.PretUnitar.ToString() LEI</td>
                                                <td>@produsDinComanda.Cantitate</td>
                                                <td>@(produsDinComanda.PretUnitar * produsDinComanda.Cantitate) LEI</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <hr />
                                <p>Destinatar: @order.Destinatar</p>
                                <p>Email: @order.Utilizator.Email</p>
                                <p>Adresă: @order.Adresa</p>
                                <p>Telefon: @order.Telefon</p>
                                <hr />
                                <p>Status: @order.CStatus</p>
                                <p>Plată: @order.PStatus</p>
                                <p>Total comandă: @order.PretTotal LEI</p>
                                <hr />
                                <p>Puncte generate: @order.PuncteGenerate</p>
                                <p>Puncte utilizate: @order.PuncteUtilizate</p>
                                <p>Total fără reducere: @(order.PretTotal + order.Reducere) LEI</p>
                                <p>Reducere aplicată: @order.Reducere LEI</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Închide</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
