@page
@model Proiect_ip.Areas.Identity.Pages.Account.Manage.ViewRewardsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<Proiect_ipUser> UserManager

@{
    ViewData["Title"] = "Vezi recompense";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Recompense</h3>
    </div>
    <div class="card-body">
        @if (Model.Message != null)
        {
            <p>@Model.Message</p>
        }
        else if (Model.Points >= 0)
        {
            <p>Ai <strong>@Model.Points</strong> puncte.</p>
        }
    </div>
</div>

@if (Model.istoricPuncte.Count != 0)
{
    <br />
    <h2>Istoricul punctelor</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Puncte</th>
                    <th>Motiv</th>
                    <th>Dată</th>
                    <th>Id comandă</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var intrare in Model.istoricPuncte)
                {
                    <tr>
                        <td>@intrare.Puncte</td>
                        <td>@intrare.Motiv</td>
                        <td>@intrare.DataAdaugare.ToShortDateString()</td>
                        <td>@intrare.IdComanda</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
