@page
@model Proiect_ip.Pages.Admin.ProduseModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
    <p>Aceasta este o pagina accesibila doar admin-ului.</p>
    ViewData["Title"] = "Admin Produse";
}
<div class="container-fluid">
    <h2 class="text-center mb-5">Lista de produse</h2>

    <hr />

    <div class="d-grid gap-2">
        <a class='btn btn-success' href='/Admin/CreateProduse'>Produs Nou</a>
    </div>

    <hr />
    @if (Model.Produs.Count() == 0)
    {
        <div class="<div class=" col-md-3 col-sm-6 mb-4">
            <div class="alert alert-danger mx-auto role="alert">
                Nu s-au găsit produse.
            </div>
        </div>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
            <th>Nume</th>
            <th>Descriere</th>
            <th>Pret</th>
            <th>Categorie</th>
            <th>Stoc</th>
            <th>Actiuni</th>
            </thead>

            <tbody class="table-group-divider">

                @foreach (var produs in Model.Produs)
                {
                    <tr>
                        <td>@produs.Nume</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#prodDescModal-@produs.IdProdus">Descriere</button>



                        </td>
                        <td>@(produs.Pret) RON</td>
                        <td>@(produs.Categorie.NumeCateg)</td>
                        <td>@produs.Stoc</td>
                        <td style="white-space:nowrap">
                            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href='/Admin/EditProduse?id=@produs.IdProdus'">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="window.location.href='/Admin/DeleteProduse?id=@produs.IdProdus'">Delete</button>
                        </td>
                    </tr>

                }

            </tbody>
        </table>

        @foreach (var produs in Model.Produs)
        {
            <div class="modal fade" id="prodDescModal-@produs.IdProdus" tabindex="-1" aria-labelledby="prodDescModalLabel-@produs.IdProdus" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="prodDescModalLabel-@produs.IdProdus">Detalii produs</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>@produs.Descriere</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    }

</div>