@page
@model Proiect_ip.Pages.ViewProdusModel
@{
    ViewData["Title"] = "Detalii produs";
}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
}

<div class="container-fluid">
    <h2 class="text-center mb-5">Vizualizare produs @Model.Produs.Nume</h2>
    <hr />

    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            @await Html.PartialAsync("_ImageView", (Model.Produs.IdProdus, CssClass: "img-fluid"))
        </div>
        <div class="col-md-8">
            <h4>Model: <strong>@Model.Produs.Nume</strong></h4>
            <h5>Brand: <strong>@Model.Produs.Brand.NumeBrand</strong></h5>
            <hr />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Descriere: <strong>@Model.Produs.Descriere</strong></p>
                </li>
                <li class="list-group-item">
                    <p>Categorie: <strong>@Model.Produs.Categorie.NumeCateg</strong></p>
                </li>
                <li class="list-group-item">
                    <p>
                        Disponibilitate:
                        <strong>
                            @if (Model.Produs.Stoc > 0)
                            {
                                <span class="text-success">În stoc</span>
                            }
                            else
                            {
                                <span class="text-danger">Nu este pe stoc</span>
                            }
                        </strong>
                    </p>
                </li>
            </ul>
            <h4 class="mt-3">Preț: <strong>@Model.Produs.Pret LEI</strong></h4>
            @if (Model.Produs.Stoc <= 0)
            {
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-secondary" disabled aria-disabled="true">
                        Nu este pe stoc
                    </button>
                </div>
            }
            else
            {
                <form method="post" asp-page-handler="AddToCart" asp-route-id="@Model.Produs.IdProdus">
                    <input type="hidden" name="quantity" value="1" />
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary">Adaugă în coș</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
