@page
@model Proiect_ip.Pages.ProduseModel
@{
    ViewData["Title"] = "Produse";
}

<script>
    function updatePretMin(value) {
        document.getElementById('pretMinValue').textContent = value;
    }

    function updatePretMax(value) {
        document.getElementById('pretMaxValue').textContent = value;
    }
</script>

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
}
<div class="container-fluid mx-auto">
    @{
        string titlu = "Toate produsele";

        if (!string.IsNullOrEmpty(Model.NumeBrandCurent) && !string.IsNullOrEmpty(Model.NumeCategCurenta))
        {
            titlu = $"Produse de la {Model.NumeBrandCurent} din categoria {Model.NumeCategCurenta}";
        }
        else if (!string.IsNullOrEmpty(Model.NumeBrandCurent))
        {
            titlu = $"Produse de la {Model.NumeBrandCurent}";
        }
        else if (!string.IsNullOrEmpty(Model.NumeCategCurenta))
        {
            titlu = $"Produse din categoria {Model.NumeCategCurenta}";
        }
    }
    <h1 class="text-center my-4">@titlu</h1>
    <div class="accordion mb-4" id="filtrari-meniu">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtrari-meniu-data" aria-expanded="true" aria-controls="filtrari-meniu-data">
                    Filtrare produse
                </button>
            </h2>
            <div id="filtrari-meniu-data" class="accordion-collapse collapse" data-bs-parent="#filtrari-meniu">
                <div class="accordion-body">
                    <form method="get">

                        <div class="mb-3">
                            <label for="brand" class="form-label">Brand:</label>
                            <select class="form-select" id="brand" name="BrandId" asp-for="BrandId" asp-items="Model.BranduriSelectList"></select>
                        </div>

                        <div class="mb-3">
                            <label for="categorie" class="form-label">Categorie:</label>
                            <select class="form-select" id="categorie" name="CategorieId" asp-for="CategorieId" asp-items="Model.CategoriiSelectList"></select>
                        </div>

                        <div class="mb-3">
                            <label for="pretMin" class="form-label">Preț Minim:</label>
                            <input type="range"
                                   class="form-range"
                                   id="pretMin"
                                   name="PretMin"
                                   min="@Model.PretMinimDB"
                                   max="@Model.PretMaximDB"
                                   value="@Model.PretMin.GetValueOrDefault(Model.PretMinimDB)"
                                   oninput="updatePretMin(this.value)">
                            <span id="pretMinValue">@Model.PretMin.GetValueOrDefault(Model.PretMinimDB)</span>
                        </div>

                        <div class="mb-3">
                            <label for="pretMax" class="form-label">Preț Maxim:</label>
                            <input type="range"
                                   class="form-range"
                                   id="pretMax"
                                   name="PretMax"
                                   min="@Model.PretMinimDB"
                                   max="@Model.PretMaximDB"
                                   value="@Model.PretMax.GetValueOrDefault(Model.PretMaximDB)"
                                   oninput="updatePretMax(this.value)">
                            <span id="pretMaxValue">@Model.PretMax.GetValueOrDefault(Model.PretMaximDB)</span>
                        </div>


                        <button type="submit" class="btn btn-primary w-100">Filtrează</button>
                    </form>
                    <form method="post" asp-page-handler="ResetFilters">
                        <input type="hidden" name="Categorie" value="@Model.BrandId" />
                        <input type="hidden" name="Categorie" value="@Model.CategorieId" />
                        <button type="submit" class="btn btn-secondary w-100">Resetează filtrele</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row mt-4">
        @if (Model.Produse.Count() == 0)
        {
            <div class="alert alert-danger mx-auto" role="alert">
                Nu s-au găsit produse.
            </div>

        }
        else
        {

            @foreach (var produs in Model.Produse)
            {
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        @await Html.PartialAsync("_ImageView", (produs.IdProdus, CssClass: "img-fluid"))
                        <div class="card-body d-flex flex-column">
                            <div>
                                <h4 class="card-title"
                                    style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; flex-shrink: 0;  min-height: 3rem;" title="@produs.Nume">
                                    <strong>@produs.Nume</strong>
                                </h4>
                                <h6 class="card-text"><strong>Brand: </strong>@produs.Brand.NumeBrand</h6>
                                <hr />
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p class="card-text"><strong>Preț: </strong> @(produs.Pret) RON</p>
                                    </li>
                                    <li class="list-group-item">
                                        <p>
                                            Disponibilitate:
                                            <strong>
                                                @if (produs.Stoc > 0)
                                                {
                                                    <span class="text-success">În stoc</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">Nu este pe stoc</span>
                                                }
                                            </strong>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-auto">
                                <hr />
                                <div class="d-flex justify-content-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-secondary" asp-page="/DetaliiProdus" asp-route-id="@produs.IdProdus">Vezi detalii <i class="bi bi-arrow-up-right-square"></i></a>
                                        @if (produs.Stoc <= 0){
                                        <button type="button" class="btn btn-secondary" disabled aria-disabled="true">
                                            Nu este pe stoc
                                        </button>
                                    } else {
                                        <form method="post" asp-page-handler="AddToCart" asp-route-id="@produs.IdProdus">
                                            <input type="hidden" name="quantity" value="1" />
                                            <button type="submit" class="btn btn-info">
                                                Adaugă în coș <i class="bi bi-bag-plus"></i>
                                            </button>
                                        </form>
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
        }

    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="@Url.Page("/Produse", new { PageIndex = i, categorie = Model.CategorieId, Brand = Model.BrandId, PretMin = Model.PretMin, PretMax = Model.PretMax, ItemsPerPage = Model.ItemsPerPage})">@i</a>
                </li>
            }
        </ul>
    </nav>

</div>
